<div class="title">
  <h1>Movies & Series</h1>
</div>

<div class="container">
  <div class="search-form">
    <div>
      <div>
        <label for="t">Search Title:</label>
        <input type="text" id="title" name="title">
      </div>
      <div>
        <button onclick="search()">Search</button>
        <button onclick="reset(0)">Reset</button>
      </div>
    </div>

    <div>
      <h2>Search List: </h2>
      <div class="list">
        <div id="movies">
          <div id="load-icon" class="hidden">
            Searching...
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>

  <section class="get">
      <h3>
        <a href="/get-data">Get Favorites</a>
      </h3>
      <div>
          {{# each items }}
              <article class="item">
                  <div>Title: {{ this.title }}</div>
                  <div>Year: {{ this.year }}</div>
                  <div>ID: {{ this._id }}</div>
              </article>
          {{/each}}
      </div>
      <a href="/">Clear</a>
  </section>

  </section>
  <section class="delete">
    <h3>Delete Data</h3>
    <form action="/delete" method="post">
        <div class="input">
            <label for="id">ID</label>
            <input type="text" id="id" name="id">
        </div>
        <button type="submit">DELETE</button>
    </form>
</div>
